.connect-button {
  font-size: 1rem;
  border: 1px solid rgba(235, 233, 233, 0.924);
  padding: 0.5rem;
  border-radius: 9%;
}

.navbar {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1rem;
}
.header-logo {
  font-size: 1.5rem;
}

.App {
  width: 100%;
}
.main-body {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}
.vesting-table-header {
  margin-top: 3rem;
  margin-inline: 5rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 5rem;
  justify-content: space-between;
}
.vesting-table {
  margin-inline: 5rem;
}
.vesting-row {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 5rem;
  justify-content: space-between;
  /* font-size: 0.5rem; */
}

.myVesting {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
.withdraw-button {
  font-size: 1rem;
  border: 1px solid rgba(235, 233, 233, 0.924);
  padding: 0.5rem;
  border-radius: 3%;
  width: 10%;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.withdraw-button:hover {
  cursor: pointer;
}
